<%= turbo_frame_tag task do %>
  <li class="list-group-item">
    <div class="d-flex alig-items-center justify-content-between">
      <div>
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
        <%= task.description %>
      </div>
      <div>
        <%= button_to "Destroy", project_task_path(project, task), method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </li>
<% end %>
