<div>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>Projects</h1>
    <%= link_to "New project", new_project_path,
                               class: "btn btn-secondary",
                               data: { turbo_frame: dom_id(Project.new) } %>
  </div>

  <%= turbo_frame_tag Project.new %>

  <div id="projects">
    <%= render @projects %>
  </div>
</div>
